/* Styles de base */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-admin {
  text-decoration: none;
  color: #3b82f6;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s;
}

.btn-admin:hover {
  background-color: #eff6ff; /* Un léger bleu au survol */
}

.user-welcome {
  color: #64748b;
  font-size: 14px;
}