<div class="dashboard-container">
  <div class="user-info">
    <h2>Bienvenue, {{ user?.name }} !</h2>
    <p class="subtitle">Vous êtes connecté avec l'adresse : {{ user?.email }}</p>
    
    <div style="margin-top: 30px;">
      <p><strong>ID Utilisateur :</strong> {{ user?.id }}</p>
      <p><strong>Compte créé le :</strong> {{ user?.created_at | date:'medium' }}</p>
    </div>

    <button (click)="logout()" class="btn-primary" style="margin-top: 40px; background-color: #374151;">
      Se déconnecter
    </button>
  </div>
</div>
