[mysqld]

#[mysqld]
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

# Encodage UTF-8 (très important)
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Performance basique
max_connections=100

# Désactiver certaines vérifications strictes (optionnel)
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
